@use '../../styles/index' as *;

// .container2 {
//   display: grid;
//   grid-template-columns: repeat(24, 32px);
//   gap: 16px;
//   width: 1136px;
//   height: 436px;
//   margin-top: 50px;
//   margin-bottom: 80px;

@include phone {
  .button {
    display: none;
  }

  .slider {
    background-color: $bacround-color-black;
    grid-column: span 4;
    height: 416px;
    overflow: hidden;
    width: 100%;

    &--track {
      display: flex;
      height: 100%;
      transition: transform .5s ease;
    }

    &--img {
      display: block;
      min-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@include tablet {

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 1;
    color: inherit;
    background-color: $bacround-color-gree;
    user-select: none;
    cursor: pointer;
  }

  .slider {
    background-color: $bacround-color-black;
    grid-column: 2/-2;
    height: 416px;
    overflow: hidden;
    width: 100%;

    &--track {
      display: flex;
      height: 100%;
      transition: transform .5s ease;
    }

    &--img {
      display: block;
      min-width: 100%;
      height: 100%;
      object-fit: cover;

    }


  }

}

.sidebar {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  gap: 9px;

  &--item {
    background: none;
    background-color: $bacround-color-gree;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 14px;
    height: 4px;
  }
}

.is-active {
  background-color: $color-white;
}