@mixin typografy-important-information {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;

}

@mixin typografy-titel-information {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;

}

@mixin typografy-titel {
    font-weight: 800;
    font-style: Bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1%;

}