$bacround-color-black: #161827;
$bacround-color-gree: #3B3E4A;
$bacround-color-gree-card: #75767F;
$color-white: #F1F2F9;
$gap: 16px;
$phone-width: 320px;
$tablet-width: 640px;
$desktop-width: 1200px;
$mobile-columns: 4;
$tablet-columns: 12;
$desktop-columns: 24;
