

.offCalss {
    display: none;
}

html {
    background-color: #0F1121;
    color: #F1F2F9;

    margin: 0;
    padding: 0;
    gap: 0;

}

body {
    margin: 0;
    padding: 0;
    gap: 0;
}

.App{
    justify-items: center;
}
